{% extends '@Resume/layout.html.twig' %}

{% block body %}
    <h1>class="text-center"</h1>
<div  class="table-responsive"></div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
                <th>CV</th>
            </tr>
        </thead>
        <tbody>
        {% for hobby in hobbies %}
            <tr>
                <td><a href="{{ path('loisir_show', { 'id': hobby.id }) }}">{{ hobby.id }}</a></td>
                <td>{{ hobby.libelle }}</td>
                <td>{{ hobby.resume }}</td>
                <td>{{ hobby.resume }}</td>
                <td>

                            <a href="{{ path('loisir_show', { 'id': hobby.id }) }}"><i class="fa fa-2x fa-eye" aria-hidden="true"></i></a>

                            <a href="{{ path('loisir_edit', { 'id': hobby.id }) }}"><i class="fa fa-2x fa-pencil" aria-hidden="true"></i></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('loisir_new') }}">
        <button type="button" class="btn btn-primary">
            Create a new hobby  <i class="fa  fa-2x fa-plus"  style="font-size:30px; vertical-align: middle;" aria-hidden="true"></i>
        </button>
    </a>


{% endblock %}
