{% extends '@Resume/layout.html.twig' %}

{% block body %}
<div class="col-lg-8 " style="margin-top:80px">
    <div class="panel panel-primary " >
        <div class="panel-heading text-center">Hobby</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hobby.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ hobby.libelle }}</td>
            </tr>
            <tr>
                <th>Nom CV</th>
                <td>{{ hobby.resume }}</td>
            </tr>
        </tbody>
    </table>
            </div>
        </div>
    </div>
</div>
    <div class="col-lg-8 " style="margin-top:40px">

        <div class="col-lg-6">
            <a href="{{ path('loisir_index') }}">
                <button type="submit" class="btn btn-default btn-block">
                    <i class="fa fa-chevron-circle-left"  style="font-size:30px; vertical-align: middle;" aria-hidden="true"></i> Back to the list
                </button>
            </a>
        </div>
        <div class="col-lg-6">
            <a  href="{{ path('loisir_edit', { 'id': hobby.id }) }}">
                <button type="submit" class="btn btn-info btn-block">
                    Edit <i class="fa fa-2x fa-pencil"  style="font-size:30px; vertical-align: middle;" aria-hidden="true"></i>
                </button>
            </a>
        </div>
        <br>

        <div class="col-lg-6 col-lg-offset-3" style="margin-top:15px">
            {{ form_start(delete_form) }}

            <button type="submit" class="btn btn-danger btn-block">
                Delete   <i class="  fa-2x fa fa-trash-o"  style="font-size:30px; vertical-align: middle;" aria-hidden="true"></i>
            </button>

            {{ form_end(delete_form) }}
        </div>





    </div>

{% endblock %}
