{% extends '@Resume/layout.html.twig' %}

{% block body %}
    <h1>Skills list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Categorie</th>
                <th>Libelle</th>
                <th>Niveau</th>
                <th>CV</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for skill in skills %}
            <tr>
                <td><a href="{{ path('competence_show', { 'id': skill.id }) }}">{{ skill.id }}</a></td>
                <td>{{ skill.categorie }}</td>
                <td>{{ skill.libelle }}</td>
                <td>{{ skill.niveau }}</td>
                <td>{{ skill.resume }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('competence_show', { 'id': skill.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('competence_edit', { 'id': skill.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('competence_new') }}">Create a new skill</a>
        </li>
    </ul>
{% endblock %}
