<<<<<<< HEAD
{% extends '@Resume/layout.html.twig' %}
=======
{% extends '@User/base.html.twig' %}
>>>>>>> mana

{% block body %}
    <h1>Userdetail</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userDetail.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ userDetail.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ userDetail.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ userDetail.adresse }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ userDetail.codepostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ userDetail.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ userDetail.pays }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ userDetail.email }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('informations_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('informations_edit', { 'id': userDetail.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
