{% extends '@Resume/layout.html.twig' %}

{% block body %}
<div style="margin-top:80px">
    <div class="panel " >
        <div class="panel-heading text-center" style="background-color: #d9beba ; border-color: #d9beba">Expérience</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Identifiant </th>
                        <th>Nom du poste</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Lieu</th>
                        <th>Entreprise</th>
                        <th>Missions</th>
                        <th>Nom CV</th>
                    </tr>
                    </thead>
        <tbody>
            <tr>

                <td>{{ experience.id }}</td>


                <td>{{ experience.nomPoste }}</td>

                <td>{% if experience.dateDebut %}{{ experience.dateDebut|date('Y-m-d') }}{% endif %}</td>

                <td>{% if experience.dateFin %}{{ experience.dateFin|date('Y-m-d') }}{% endif %}</td>

                <td>{{ experience.lieu }}</td>

                <td>{{ experience.entreprise }}</td>

                <td>{{ experience.missions }}</td>

                <td>{{ experience.resume }}</td>
            </tr>
        </tbody>
    </table>
            </div>
        </div>
    </div>
</div>
    <div  style="margin-top:40px">

        <div class="col-lg-6">
            <a href="{{ path('experience_index') }}">
                <button type="submit" class="btn btn-default btn-block">
                    <i class="fa fa-chevron-circle-left"  style="font-size:30px; vertical-align: middle;" aria-hidden="true"></i> Back to the list
                </button>
            </a>
        </div>
        <div class="col-lg-6">
            <a  href="{{ path('experience_edit', { 'id': experience.id }) }}">
                <button type="submit" class="btn btn-info btn-block">
                    Edit <i class="fa fa-2x fa-pencil"  style="font-size:30px; vertical-align: middle;" aria-hidden="true"></i>
                </button>
            </a>
        </div>
        <br>

        <div class="col-lg-6 col-lg-offset-3" style="margin-top:15px">
            {{ form_start(delete_form) }}

            <button type="submit" class="btn btn-danger btn-block">
                Delete   <i class="  fa-2x fa fa-trash-o"  style="font-size:30px; vertical-align: middle;" aria-hidden="true"></i>
            </button>

            {{ form_end(delete_form) }}
        </div>





    </div>





{% endblock %}
