
<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="profile">
                                <div id="logo"><img src="{{ asset( 'images\index.png' )}}" alt="logo" class="img-small" /> <span>{{ app.user.username }}</span></div>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="{{ path('app_homepage') }}"><i class="fa fa-dashboard fa-fw"></i>Tableau de bord</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i>Edition CV<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path('informations_index') }}">Informations</a>
                                </li>
                                <li>
                                    <a href="{{ path('experience_index') }}">Expériences</a>
                                </li>
                                <li>
                                    <a href="{{ path('competence_index') }}">Compétences</a>
                                </li>
                                <li>
                                    <a href="{{ path('formation_index') }}">Formation</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i>Mes thèmes</a>
                        </li>
                        <li>
                            <a href="{{ path('loisir_index') }}">Mes CVS</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
