{% extends '@Resume/layout.html.twig' %}

{% block body %}
    <h1 class="text-center">Formations</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Intitulé</th>
            <th>Date de but</th>
            <th>Date de fin</th>
            <th>Nom de l'établissement</th>
            <th>Description</th>
            <th>CV associé</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for education in educations %}
            <tr>
                <td><a href="{{ path('formation_show', { 'id': education.id }) }}">{{ education.id }}</a></td>
                <td>{{ education.intitule }}</td>
                <td>{% if education.dateDebut %}{{ education.dateDebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if education.dateFin %}{{ education.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ education.nomEtablissement }}</td>
                <td>{{ education.description }}</td>
                <td>{{ education.resume }}</td>
                <td>

                            <a href="{{ path('formation_show', { 'id': education.id }) }}"><i class="fa fa-2x fa-eye" aria-hidden="true"></i></a>

                            <a href="{{ path('formation_edit', { 'id': education.id }) }}"><i class="fa fa-2x fa-pencil" aria-hidden="true"></i></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>


    <a href="{{ path('formation_new') }}">
        <button type="button" class="btn btn-success">
            Nouvelle formation  <i class="fa  fa-2x fa-plus"  style="font-size:30px; vertical-align: middle;" aria-hidden="true"></i>
        </button>
    </a>

{% endblock %}
