{% extends '@Resume/layout.html.twig' %}

{% block body %}
<div  style="margin-top:80px">
    <div class="panel  "  >
        <div class="panel-heading text-center" style="background-color: #d9beba ; border-color: #d9beba" >Formations</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
<thead>
<tr>
    <th>Identifiant</th>
    <th>Intitulé</th>
    <th>Date de début</th>
    <th>Date de fin</th>
    <th>Nome de l'établissement</th>
    <th>Description</th>
    <th>Nom CV</th>

</tr>
</thead>

                    <tbody>
            <tr>
                <td>{{ education.id }}</td>
                <td>{{ education.intitule }}</td>
                <td>{% if education.dateDebut %}{{ education.dateDebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if education.dateFin %}{{ education.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ education.nomEtablissement }}</td>
                <td>{{ education.description }}</td>
                <td>{{ education.resume }}</td>

            </tr>

        </tbody>
    </table>
            </div>
        </div>
    </div>
</div>
    <div  style="margin-top:40px">

        <div class="col-lg-6">
            <a href="{{ path('formation_index') }}">
                <button type="submit" class="btn btn-default btn-block">
                    <i class="fa fa-chevron-circle-left"  style="font-size:30px; vertical-align: middle;" aria-hidden="true"></i> Retour à la liste
                </button>
            </a>
        </div>
        <div class="col-lg-6">
            <a  href="{{ path('formation_edit', { 'id': education.id }) }}">
                <button type="submit" class="btn btn-info btn-block">
                    Edit <i class="fa fa-2x fa-pencil"  style="font-size:30px; vertical-align: middle;" aria-hidden="true"></i>
                </button>
            </a>
        </div>
        <br>

        <div class="col-lg-6 col-lg-offset-3" style="margin-top:15px">
            {{ form_start(delete_form) }}

            <button type="submit" class="btn btn-danger btn-block">
                Delete   <i class="  fa-2x fa fa-trash-o"  style="font-size:30px; vertical-align: middle;" aria-hidden="true"></i>
            </button>

            {{ form_end(delete_form) }}
        </div>





    </div>

{% endblock %}
