{% extends '@Resume/layout.html.twig' %}


{% block body %}

<div class="col-lg-8 col-lg-offset-1 " style="margin-top: 80px">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">Données Personnelles</div>
        <div class="panel-body">
            {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig'  %}
            {{ form_start(edit_form) }}

            {{ form_widget(edit_form) }}
            {#<input type="submit" value="Edit" />#}
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" tabindex="4" class="form-control btn btn-primary" value="Enregistrer">
                    </div>
                </div>
            </div>
            {{ form_end(edit_form) }}

            <ul>
            <li>
            <a href="{{ path('informations_index') }}">Back to the list</a>
            </li>
            <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
            </li>
            </ul>

        </div>


    </div>


</div>


{% endblock %}
