
{% extends '@Resume/layout.html.twig' %}


{% block body %}
    <h1 class="text-center">Informations personnelles</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Identifiant</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Adresse</th>
            <th>Code postal</th>
            <th>Ville</th>
            <th>Pays</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for userDetail in userDetails %}
            <tr>
                <td><a href="{{ path('informations_show', { 'id': userDetail.id }) }}">{{ userDetail.id }}</a></td>
                <td>{{ userDetail.nom }}</td>
                <td>{{ userDetail.prenom }}</td>
                <td>{{ userDetail.adresse }}</td>
                <td>{{ userDetail.codepostal }}</td>
                <td>{{ userDetail.ville }}</td>
                <td>{{ userDetail.pays }}</td>
                <td>{{ userDetail.email }}</td>
                <td>
                    <a href="{{ path('informations_show', { 'id': userDetail.id }) }}"> <i class="fa fa-2x fa-eye" aria-hidden="true"></i></a>

                    <a href="{{ path('informations_edit', { 'id': userDetail.id }) }}"><i class="fa fa-2x fa-pencil" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('informations_new') }}">
    <button type="button" class="btn btn-success">
        Nouvelle information   <i class="fa  fa-2x fa-plus"  style="font-size:30px; vertical-align: middle;" aria-hidden="true"></i>
    </button>
    </a>


{% endblock %}
