{% extends '@Resume/layout.html.twig' %}

{% block body %}
<div style="margin-top:80px">
    <div class="panel " >
        <div class="panel-heading text-center" style="background-color: #d9beba ; border-color: #d9beba">Informations utilisateur</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Pays</th>
                    <th>Email</th>
                    </thead>
                    <tbody>

                    <tr>
                        <td>{{ userDetail.id }}</td>


                        <td>{{ userDetail.nom }}</td>


                        <td>{{ userDetail.prenom }}</td>


                        <td>{{ userDetail.adresse }}</td>


                        <td>{{ userDetail.codepostal }}</td>


                        <td>{{ userDetail.ville }}</td>


                        <td>{{ userDetail.pays }}</td>


                        <td>{{ userDetail.email }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div  style="margin-top:40px">

<div class="col-lg-6">
    <a href="{{ path('informations_index') }}">
        <button type="submit" class="btn btn-default btn-block">
            <i class="fa fa-chevron-circle-left"  style="font-size:30px; vertical-align: middle;" aria-hidden="true"></i> Retour à la liste
        </button>
    </a>
</div>
    <div class="col-lg-6">
        <a  href="{{ path('informations_edit', { 'id': userDetail.id }) }}">
            <button type="submit" class="btn btn-info btn-block">
                Edit <i class="fa fa-2x fa-pencil"  style="font-size:30px; vertical-align: middle;" aria-hidden="true"></i>
            </button>
        </a>
    </div>
    <br>

        <div class="col-lg-6 col-lg-offset-3" style="margin-top:15px">
            {{ form_start(delete_form) }}

            <button type="submit" class="btn btn-danger btn-block">
                Delete   <i class="  fa-2x fa fa-trash-o"  style="font-size:30px; vertical-align: middle;" aria-hidden="true"></i>
            </button>

            {{ form_end(delete_form) }}
        </div>





</div>
{% endblock %}
